.p-badge {
    @apply bg-primary text-primary-contrast;
    @apply inline-flex w-fit items-center justify-center whitespace-nowrap;
    @apply px-2 py-1;
    @apply rounded-md text-sm font-semibold;
}

.p-badge-dot {
    @apply h-2 min-w-2 p-0;
    @apply rounded-full;
}

.p-badge-circle {
    @apply p-0;
    @apply rounded-full;
}

.p-badge-secondary {
    @apply bg-secondary text-primary-contrast;
}

.p-badge-success {
    @apply bg-timber-green-100 text-timber-green-800;
}

.p-badge-info {
    @apply bg-glacier-100 text-glacier-800;
}

.p-badge-warn {
    @apply bg-orange-100 text-orange-700;
}

.p-badge-danger {
    @apply border-red-300 bg-red-100 text-red-800;
}

.p-badge-contrast {
    @apply bg-slate-100 text-slate-700;
}

.p-badge-sm {
    @apply h-5 min-w-5 text-[0.625rem];
}

.p-badge-lg {
    @apply h-7 min-w-7 text-sm;
}

.p-badge-xl {
    @apply h-8 min-w-8 text-base;
}
