@import './badge';

.p-button {
    @apply relative inline-flex cursor-pointer items-center justify-center gap-2 overflow-hidden select-none;
    @apply bg-primary-100 text-primary-700;
    @apply border-0;
    @apply rounded-xl px-4 py-2 font-medium;
    @apply transition-all duration-200;
    @apply disabled:cursor-default;

    @apply shadow-playful;
    --shadow-color: var(--color-primary-300);
}

.p-button:active {
    @apply shadow-playful-active;
}

.p-button-icon-right {
    @apply order-1;
}

.p-button-icon-right:dir(rtl) {
    @apply order-[-1];
}

.p-button:not(.p-button-vertical) .p-button-icon:not(.p-button-icon-right):dir(rtl) {
    @apply order-1;
}

.p-button-icon-bottom {
    @apply order-2;
}

.p-button-icon-only {
    @apply w-10 gap-0 px-0;
}

.p-button-icon-only.p-button-rounded {
    @apply h-10 rounded-full;
}

.p-button-icon-only .p-button-label {
    @apply invisible w-0;
}

.p-button-sm {
    @apply px-[0.625rem] py-[0.375rem] text-sm;
}

.p-button-sm .p-button-icon {
    @apply text-sm;
}

.p-button-lg {
    @apply px-[0.875rem] py-[0.625rem] text-[1.125rem];
}

.p-button-lg .p-button-icon {
    @apply text-[1.125rem];
}

.p-button-vertical {
    @apply flex-col;
}

.p-button-label {
    @apply font-medium;
}

.p-button-fluid {
    @apply w-full;
}

.p-button-fluid.p-button-icon-only {
    @apply w-10;
}

.p-button .p-badge {
    @apply h-4 min-w-4 leading-4;
}

.p-button-rounded {
    @apply rounded-[2rem];
}

.p-button-secondary {
    @apply bg-secondary-100 text-secondary-700;
    @apply border-0;
    --shadow-color: var(--color-secondary-300);
}

.p-button-success {
    @apply bg-green-100 text-green-700;
    @apply border-0;
    --shadow-color: rgb(34 197 94 / 0.4);
}

.p-button-info {
    @apply bg-sky-500 text-white;
    @apply border-0;
    --shadow-color: rgb(14 165 233 / 0.5);
}

.p-button-warn {
    @apply bg-orange-500 text-white;
    @apply border-0;
    --shadow-color: rgb(249 115 22 / 0.5);
}

.p-button-help {
    @apply bg-purple-100 text-purple-700;
    @apply border-0;
    --shadow-color: rgb(168 85 247 / 0.4);
}

.p-button-danger {
    @apply bg-red-100 text-red-700;
    @apply border-0;
    --shadow-color: rgb(239 68 68 / 0.4);
}

.p-button-contrast {
    @apply text-surface-600 bg-slate-100;
    @apply border-0;
    --shadow-color: rgb(148 163 184 / 0.4);
}

.p-button-contrast:active {
    @apply shadow-playful-active;
}

.p-button-outlined {
    @apply text-primary border bg-transparent;
    @apply border-primary-400;
    @apply enabled:hover:bg-primary-50 enabled:hover:border-primary-400;
    @apply enabled:active:bg-primary-100 enabled:active:border-primary-400;
    @apply !shadow-none;
}

.p-button-outlined.p-button-secondary {
    @apply text-secondary-500;
    @apply border-secondary-500;
    @apply enabled:hover:bg-secondary-50/50 enabled:hover:border-secondary;
    @apply enabled:active:bg-secondary-50 enabled:active:border-secondary;
}

.p-button-outlined.p-button-success {
    @apply bg-transparent text-green-500;
    @apply border-green-200;
    @apply enabled:hover:border-green-200 enabled:hover:bg-green-50;
    @apply enabled:active:border-green-200 enabled:active:bg-green-100;
    --shadow-color: rgb(34 197 94 / 0.25);
}

.p-button-outlined.p-button-info {
    @apply bg-transparent text-sky-500;
    @apply border-sky-200;
    @apply enabled:hover:border-sky-200 enabled:hover:bg-sky-50;
    @apply enabled:active:border-sky-200 enabled:active:bg-sky-100;
    --shadow-color: rgb(14 165 233 / 0.25);
}

.p-button-outlined.p-button-warn {
    @apply bg-transparent text-orange-500;
    @apply border-orange-200;
    @apply enabled:hover:border-orange-200 enabled:hover:bg-orange-50;
    @apply enabled:active:border-orange-200 enabled:active:bg-orange-100;
    --shadow-color: rgb(249 115 22 / 0.25);
}

.p-button-outlined.p-button-help {
    @apply bg-transparent text-purple-500;
    @apply border-purple-200;
    @apply enabled:hover:border-purple-200 enabled:hover:bg-purple-50;
    @apply enabled:active:border-purple-200 enabled:active:bg-purple-100;
    --shadow-color: rgb(168 85 247 / 0.25);
}

.p-button-outlined.p-button-danger {
    @apply bg-transparent text-red-600;
    @apply border-red-600;
    @apply enabled:hover:border-red-200 enabled:hover:bg-red-50 enabled:hover:text-red-500;
    @apply enabled:active:border-red-200 enabled:active:bg-red-100 enabled:active:text-red-500;
    --shadow-color: rgb(239 68 68 / 0.25);
}

.p-button-outlined.p-button-contrast {
    @apply bg-transparent text-slate-600;
    @apply border-slate-400;
    @apply enabled:hover:border-slate-400 enabled:hover:bg-slate-100 enabled:hover:text-slate-700;
    @apply enabled:active:border-slate-400 enabled:active:bg-slate-200 enabled:active:text-slate-800;
    --shadow-color: rgb(148 163 184 / 0.25);
}

.p-button-outlined.p-button-plain {
    @apply text-surface-700 bg-transparent;
    @apply border-surface-200;
    @apply enabled:hover:bg-surface-50 enabled:hover:border-surface-200;
    @apply enabled:active:bg-surface-100 enabled:active:border-surface-200;
    --shadow-color: rgb(148 163 184 / 0.2);
}

.p-button-text {
    @apply text-color bg-transparent;
    @apply border-transparent;
    @apply enabled:hover:border-transparent enabled:hover:bg-transparent;
    @apply enabled:active:border-transparent enabled:active:bg-transparent;
    @apply shadow-none;
}

.p-button-text.p-button-secondary {
    @apply text-surface-500 bg-transparent;
    @apply border-transparent;
    @apply enabled:hover:bg-surface-50 enabled:hover:border-transparent;
    @apply enabled:active:bg-surface-100 enabled:active:border-transparent;
}

.p-button-text.p-button-success {
    @apply bg-transparent text-green-500;
    @apply border-transparent;
    @apply enabled:hover:border-transparent enabled:hover:bg-green-50;
    @apply enabled:active:border-transparent enabled:active:bg-green-100;
}

.p-button-text.p-button-info {
    @apply bg-transparent text-sky-500;
    @apply border-transparent;
    @apply enabled:hover:border-transparent enabled:hover:bg-sky-50;
    @apply enabled:active:border-transparent enabled:active:bg-sky-100;
}

.p-button-text.p-button-warn {
    @apply bg-transparent text-orange-500;
    @apply border-transparent;
    @apply enabled:hover:border-transparent enabled:hover:bg-orange-50;
    @apply enabled:active:border-transparent enabled:active:bg-orange-100;
}

.p-button-text.p-button-help {
    @apply bg-transparent text-purple-500;
    @apply border-transparent;
    @apply enabled:hover:border-transparent enabled:hover:bg-purple-50;
    @apply enabled:active:border-transparent enabled:active:bg-purple-100;
}

.p-button-text.p-button-danger {
    @apply bg-transparent text-red-500;
    @apply border-transparent;
    @apply enabled:hover:border-transparent enabled:hover:bg-red-50;
    @apply enabled:active:border-transparent enabled:active:bg-red-100;
}

.p-button-text.p-button-plain {
    @apply text-surface-700 bg-transparent;
    @apply border-transparent;
    @apply enabled:hover:bg-surface-50 enabled:hover:border-transparent;
    @apply enabled:active:bg-surface-100 enabled:active:border-transparent;
}

.p-button-link {
    @apply text-secondary bg-transparent;
    @apply border-transparent;
    @apply enabled:hover:border-transparent enabled:hover:bg-transparent;
    @apply enabled:active:border-transparent enabled:active:bg-transparent;
    @apply shadow-none;
}

.p-button-link:not(:disabled):hover .p-button-label {
    @apply underline;
}
