@import './badge';

.p-button {
    @apply relative inline-flex cursor-pointer items-center justify-center gap-2 overflow-hidden select-none;
    @apply bg-primary enabled:hover:bg-primary-emphasis enabled:active:bg-primary-emphasis-alt text-primary-contrast;
    @apply rounded-xl px-4 py-2 font-medium;
    @apply transition-colors duration-200;
    @apply disabled:cursor-default;
}

.p-button-icon-right {
    @apply order-1;
}

.p-button-icon-right:dir(rtl) {
    @apply order-[-1];
}

.p-button:not(.p-button-vertical) .p-button-icon:not(.p-button-icon-right):dir(rtl) {
    @apply order-1;
}

.p-button-icon-bottom {
    @apply order-2;
}

.p-button-icon-only {
    @apply w-10 gap-0 px-0;
}

.p-button-icon-only.p-button-rounded {
    @apply h-10 rounded-full;
}

.p-button-icon-only .p-button-label {
    @apply invisible w-0;
}

.p-button-sm {
    @apply px-[0.625rem] py-[0.375rem] text-sm;
}

.p-button-sm .p-button-icon {
    @apply text-sm;
}

.p-button-lg {
    @apply px-[0.875rem] py-[0.625rem] text-[1.125rem];
}

.p-button-lg .p-button-icon {
    @apply text-[1.125rem];
}

.p-button-vertical {
    @apply flex-col;
}

.p-button-label {
    @apply font-medium;
}

.p-button-fluid {
    @apply w-full;
}

.p-button-fluid.p-button-icon-only {
    @apply w-10;
}

.p-button .p-badge {
    @apply h-4 min-w-4 leading-4;
}

.p-button-raised {
    @apply shadow-[0_3px_1px_-2px_rgba(0,0,0,0.2),0_2px_2px_0_rgba(0,0,0,0.14),0_1px_5px_0_rgba(0,0,0,0.12)];
}

.p-button-rounded {
    @apply rounded-[2rem];
}

.p-button-secondary {
    @apply bg-secondary-500 enabled:hover:bg-secondary-600 enabled:active:bg-secondary-600;
    @apply border-secondary-500 enabled:hover:border-secondary-600 enabled:active:border-secondary-600;
    @apply text-white;
}

.p-button-success {
    @apply bg-green-500 enabled:hover:bg-green-600 enabled:active:bg-green-700;
    @apply border-green-500 enabled:hover:border-green-600 enabled:active:border-green-700;
    @apply text-white enabled:hover:text-white enabled:active:text-white;
    @apply dark:bg-green-400 dark:enabled:hover:bg-green-300 dark:enabled:active:bg-green-200;
    @apply dark:border-green-400 dark:enabled:hover:border-green-300 dark:enabled:active:border-green-200;
    @apply dark:text-green-950 dark:enabled:hover:text-green-950 dark:enabled:active:text-green-950;
}

.p-button-info {
    @apply bg-sky-500 enabled:hover:bg-sky-600 enabled:active:bg-sky-700;
    @apply border-sky-500 enabled:hover:border-sky-600 enabled:active:border-sky-700;
    @apply text-white enabled:hover:text-white enabled:active:text-white;
    @apply dark:bg-sky-400 dark:enabled:hover:bg-sky-300 dark:enabled:active:bg-sky-200;
    @apply dark:border-sky-400 dark:enabled:hover:border-sky-300 dark:enabled:active:border-sky-200;
    @apply dark:text-sky-950 dark:enabled:hover:text-sky-950 dark:enabled:active:text-sky-950;
}

.p-button-warn {
    @apply bg-orange-500 enabled:hover:bg-orange-600 enabled:active:bg-orange-700;
    @apply border-orange-500 enabled:hover:border-orange-600 enabled:active:border-orange-700;
    @apply text-white enabled:hover:text-white enabled:active:text-white;
    @apply dark:bg-orange-400 dark:enabled:hover:bg-orange-300 dark:enabled:active:bg-orange-200;
    @apply dark:border-orange-400 dark:enabled:hover:border-orange-300 dark:enabled:active:border-orange-200;
    @apply dark:text-orange-950 dark:enabled:hover:text-orange-950 dark:enabled:active:text-orange-950;
}

.p-button-help {
    @apply bg-purple-500 enabled:hover:bg-purple-600 enabled:active:bg-purple-700;
    @apply border-purple-500 enabled:hover:border-purple-600 enabled:active:border-purple-700;
    @apply text-white enabled:hover:text-white enabled:active:text-white;
    @apply dark:bg-purple-400 dark:enabled:hover:bg-purple-300 dark:enabled:active:bg-purple-200;
    @apply dark:border-purple-400 dark:enabled:hover:border-purple-300 dark:enabled:active:border-purple-200;
    @apply dark:text-purple-950 dark:enabled:hover:text-purple-950 dark:enabled:active:text-purple-950;
}

.p-button-help {
    @apply bg-purple-500 enabled:hover:bg-purple-600 enabled:active:bg-purple-700;
    @apply border-purple-500 enabled:hover:border-purple-600 enabled:active:border-purple-700;
    @apply text-white enabled:hover:text-white enabled:active:text-white;
    @apply dark:bg-purple-400 dark:enabled:hover:bg-purple-300 dark:enabled:active:bg-purple-200;
    @apply dark:border-purple-400 dark:enabled:hover:border-purple-300 dark:enabled:active:border-purple-200;
    @apply dark:text-purple-950 dark:enabled:hover:text-purple-950 dark:enabled:active:text-purple-950;
}

.p-button-danger {
    @apply bg-red-500 enabled:hover:bg-red-600 enabled:active:bg-red-700;
    @apply border-red-500 enabled:hover:border-red-600 enabled:active:border-red-700;
    @apply text-white enabled:hover:text-white enabled:active:text-white;
    @apply dark:bg-red-400 dark:enabled:hover:bg-red-300 dark:enabled:active:bg-red-200;
    @apply dark:border-red-400 dark:enabled:hover:border-red-300 dark:enabled:active:border-red-200;
    @apply dark:text-red-950 dark:enabled:hover:text-red-950 dark:enabled:active:text-red-950;
}

.p-button-contrast {
    @apply bg-slate-200 enabled:hover:bg-slate-300 enabled:active:bg-slate-300;
    @apply enabled:hover:border-surface-200 enabled:active:border-surface-300 border-slate-300;
    @apply text-surface-600 enabled:hover:text-surface-700 enabled:active:text-surface-800;
    @apply dark:bg-surface-800 dark:enabled:hover:bg-surface-700 dark:enabled:active:bg-surface-600;
    @apply dark:border-surface-800 dark:enabled:hover:border-surface-700 dark:enabled:active:border-surface-600;
    @apply dark:text-surface-300 dark:enabled:hover:text-surface-200 dark:enabled:active:text-surface-100;
}

.p-button-outlined {
    @apply border bg-transparent dark:bg-transparent;
    @apply border-primary-400 enabled:hover:border-primary-400 enabled:active:border-primary-400;
    @apply text-primary enabled:hover:text-primary enabled:active:text-primary;
    @apply enabled:hover:bg-primary-50 enabled:active:bg-primary-100;
    @apply dark:enabled:hover:bg-primary/5 dark:enabled:active:bg-primary/15;
    @apply dark:text-primary dark:enabled:hover:text-primary dark:enabled:active:text-primary;
}

.p-button-outlined.p-button-secondary {
    @apply enabled:hover:bg-secondary-100 enabled:active:bg-secondary-100 border-secondary-400 enabled:hover:border-secondary-500 enabled:active:border-secondary-500 text-secondary-400 enabled:hover:text-secondary-500 enabled:active:text-secondary-500;
}

.p-button-outlined.p-button-success {
    @apply border-green-200 bg-transparent text-green-500 enabled:hover:border-green-200 enabled:hover:bg-green-50 enabled:hover:text-green-500 enabled:active:border-green-200 enabled:active:bg-green-100 enabled:active:text-green-500 dark:border-green-700 dark:bg-transparent dark:text-green-400 dark:enabled:hover:border-green-700 dark:enabled:hover:bg-green-400/5 dark:enabled:hover:text-green-400 dark:enabled:active:border-green-700 dark:enabled:active:bg-green-400/15 dark:enabled:active:text-green-400;
}

.p-button-outlined.p-button-info {
    @apply border-sky-200 bg-transparent text-sky-500 enabled:hover:border-sky-200 enabled:hover:bg-sky-50 enabled:hover:text-sky-500 enabled:active:border-sky-200 enabled:active:bg-sky-100 enabled:active:text-sky-500 dark:border-sky-700 dark:bg-transparent dark:text-sky-400 dark:enabled:hover:border-sky-700 dark:enabled:hover:bg-sky-400/5 dark:enabled:hover:text-sky-400 dark:enabled:active:border-sky-700 dark:enabled:active:bg-sky-400/15 dark:enabled:active:text-sky-400;
}

.p-button-outlined.p-button-warn {
    @apply border-orange-200 bg-transparent text-orange-500 enabled:hover:border-orange-200 enabled:hover:bg-orange-50 enabled:hover:text-orange-500 enabled:active:border-orange-200 enabled:active:bg-orange-100 enabled:active:text-orange-500 dark:border-orange-700 dark:bg-transparent dark:text-orange-400 dark:enabled:hover:border-orange-700 dark:enabled:hover:bg-orange-400/5 dark:enabled:hover:text-orange-400 dark:enabled:active:border-orange-700 dark:enabled:active:bg-orange-400/15 dark:enabled:active:text-orange-400;
}

.p-button-outlined.p-button-help {
    @apply border-purple-200 bg-transparent text-purple-500 enabled:hover:border-purple-200 enabled:hover:bg-purple-50 enabled:hover:text-purple-500 enabled:active:border-purple-200 enabled:active:bg-purple-100 enabled:active:text-purple-500 dark:border-purple-700 dark:bg-transparent dark:text-purple-400 dark:enabled:hover:border-purple-700 dark:enabled:hover:bg-purple-400/5 dark:enabled:hover:text-purple-400 dark:enabled:active:border-purple-700 dark:enabled:active:bg-purple-400/15 dark:enabled:active:text-purple-400;
}

.p-button-outlined.p-button-danger {
    @apply border-red-200 bg-transparent text-red-500 enabled:hover:border-red-200 enabled:hover:bg-red-50 enabled:hover:text-red-500 enabled:active:border-red-200 enabled:active:bg-red-100 enabled:active:text-red-500 dark:border-red-700 dark:bg-transparent dark:text-red-400 dark:enabled:hover:border-red-700 dark:enabled:hover:bg-red-400/5 dark:enabled:hover:text-red-400 dark:enabled:active:border-red-700 dark:enabled:active:bg-red-400/15 dark:enabled:active:text-red-400;
}

.p-button-outlined.p-button-contrast {
    @apply border-slate-200 bg-transparent text-slate-600 enabled:hover:border-slate-200 enabled:hover:bg-slate-100 enabled:hover:text-slate-700 enabled:active:border-slate-300 enabled:active:bg-slate-200 enabled:active:text-slate-800 dark:border-slate-800 dark:bg-transparent dark:text-slate-300 dark:enabled:hover:border-slate-700 dark:enabled:hover:bg-slate-700 dark:enabled:hover:text-slate-200 dark:enabled:active:border-slate-600 dark:enabled:active:bg-slate-600 dark:enabled:active:text-slate-100;
}

.p-button-outlined.p-button-plain {
    @apply enabled:hover:bg-surface-50 enabled:active:bg-surface-100 border-surface-200 enabled:hover:border-surface-200 enabled:active:border-surface-200 text-surface-700 enabled:hover:text-surface-700 enabled:active:text-surface-700 dark:enabled:hover:bg-surface-800 dark:enabled:active:bg-surface-700 dark:border-surface-600 dark:enabled:hover:border-surface-600 dark:enabled:active:border-surface-600 dark:text-surface-0 dark:enabled:hover:text-surface-0 dark:enabled:active:text-surface-0 bg-transparent dark:bg-transparent;
}

.p-button-text {
    @apply border-transparent bg-transparent dark:border-transparent dark:bg-transparent;
    @apply enabled:hover:border-transparent enabled:hover:bg-transparent;
    @apply enabled:active:border-transparent enabled:active:bg-transparent;
    @apply dark:enabled:hover:border-transparent dark:enabled:active:border-transparent;
    @apply text-color;
}

.p-button-text.p-button-secondary {
    @apply enabled:hover:bg-surface-50 enabled:active:bg-surface-100 text-surface-500 enabled:hover:text-surface-500 enabled:active:text-surface-500 dark:enabled:hover:bg-surface-800 dark:enabled:active:bg-surface-700 dark:text-surface-400 dark:enabled:hover:text-surface-400 dark:enabled:active:text-surface-400 border-transparent bg-transparent enabled:hover:border-transparent enabled:active:border-transparent dark:border-transparent dark:bg-transparent dark:enabled:hover:border-transparent dark:enabled:active:border-transparent;
}

.p-button-text.p-button-success {
    @apply border-transparent bg-transparent text-green-500 enabled:hover:border-transparent enabled:hover:bg-green-50 enabled:hover:text-green-500 enabled:active:border-transparent enabled:active:bg-green-100 enabled:active:text-green-500 dark:border-transparent dark:bg-transparent dark:text-green-400 dark:enabled:hover:border-transparent dark:enabled:hover:bg-green-400/5 dark:enabled:hover:text-green-400 dark:enabled:active:border-transparent dark:enabled:active:bg-green-400/15 dark:enabled:active:text-green-400;
}

.p-button-text.p-button-info {
    @apply border-transparent bg-transparent text-sky-500 enabled:hover:border-transparent enabled:hover:bg-sky-50 enabled:hover:text-sky-500 enabled:active:border-transparent enabled:active:bg-sky-100 enabled:active:text-sky-500 dark:border-transparent dark:bg-transparent dark:text-sky-400 dark:enabled:hover:border-transparent dark:enabled:hover:bg-sky-400/5 dark:enabled:hover:text-sky-400 dark:enabled:active:border-transparent dark:enabled:active:bg-sky-400/15 dark:enabled:active:text-sky-400;
}

.p-button-text.p-button-warn {
    @apply border-transparent bg-transparent text-orange-500 enabled:hover:border-transparent enabled:hover:bg-orange-50 enabled:hover:text-orange-500 enabled:active:border-transparent enabled:active:bg-orange-100 enabled:active:text-orange-500 dark:border-transparent dark:bg-transparent dark:text-orange-400 dark:enabled:hover:border-transparent dark:enabled:hover:bg-orange-400/5 dark:enabled:hover:text-orange-400 dark:enabled:active:border-transparent dark:enabled:active:bg-orange-400/15 dark:enabled:active:text-orange-400;
}

.p-button-text.p-button-help {
    @apply border-transparent bg-transparent text-purple-500 enabled:hover:border-transparent enabled:hover:bg-purple-50 enabled:hover:text-purple-500 enabled:active:border-transparent enabled:active:bg-purple-100 enabled:active:text-purple-500 dark:border-transparent dark:bg-transparent dark:text-purple-400 dark:enabled:hover:border-transparent dark:enabled:hover:bg-purple-400/5 dark:enabled:hover:text-purple-400 dark:enabled:active:border-transparent dark:enabled:active:bg-purple-400/15 dark:enabled:active:text-purple-400;
}

.p-button-text.p-button-danger {
    @apply border-transparent bg-transparent text-red-500 enabled:hover:border-transparent enabled:hover:bg-red-50 enabled:hover:text-red-500 enabled:active:border-transparent enabled:active:bg-red-100 enabled:active:text-red-500 dark:border-transparent dark:bg-transparent dark:text-red-400 dark:enabled:hover:border-transparent dark:enabled:hover:bg-red-400/5 dark:enabled:hover:text-red-400 dark:enabled:active:border-transparent dark:enabled:active:bg-red-400/15 dark:enabled:active:text-red-400;
}

.p-button-text.p-button-plain {
    @apply enabled:hover:bg-surface-50 enabled:active:bg-surface-100 text-surface-700 enabled:hover:text-surface-700 enabled:active:text-surface-700 dark:enabled:hover:bg-surface-800 dark:enabled:active:bg-surface-700 dark:text-surface-0 dark:enabled:hover:text-surface-0 dark:enabled:active:text-surface-0 border-transparent bg-transparent enabled:hover:border-transparent enabled:active:border-transparent dark:border-transparent dark:bg-transparent dark:enabled:hover:border-transparent dark:enabled:active:border-transparent;
}

.p-button-link {
    @apply border-transparent bg-transparent;
    @apply enabled:hover:border-transparent enabled:hover:bg-transparent;
    @apply enabled:active:border-transparent enabled:active:bg-transparent;
    @apply text-secondary enabled:hover:text-secondary enabled:active:text-secondary;
}

.p-button-link:not(:disabled):hover .p-button-label {
    @apply underline;
}
