.p-message {
    @apply rounded-lg border-0 text-sm outline-0;
}

.p-message-content {
    @apply flex h-full items-start gap-4 p-4;
}

.p-message-icon {
    @apply flex-shrink-0 text-2xl;
}

.p-message-close-button {
    @apply relative ms-auto flex h-7 w-7 flex-shrink-0 cursor-pointer items-center justify-center overflow-hidden rounded-full border-none bg-transparent p-0 text-inherit transition-colors duration-200 select-none;
}

.p-message-info {
    @apply bg-glacier-50 text-glacier-600 outline-glacier-200 shadow-playful-no-transform;
    --shadow-color: theme(colors.glacier.200);
}

.p-message-info .p-message-close-button {
    @apply hover:bg-secondary-100;
}

.p-message-success {
    @apply bg-timber-green-50 text-timber-green-600 border-timber-green-200 shadow-playful-no-transform;
    --shadow-color: theme(colors.timber-green.200);
}

.p-message-success .p-message-close-button {
    @apply hover:bg-timber-green-100;
}

.p-message-success.p-message-outlined {
    @apply text-timber-green-500;
}

.p-message-success.p-message-simple {
    @apply text-timber-green-500;
}

.p-message-warn {
    @apply shadow-playful-no-transform border-yellow-200 bg-yellow-50/95 text-yellow-600;
    --shadow-color: theme(colors.yellow.200);
}

.p-message-warn .p-message-close-button {
    @apply hover:bg-yellow-100;
}

.p-message-warn.p-message-outlined {
    @apply text-yellow-500;
}

.p-message-warn.p-message-simple {
    @apply text-yellow-500;
}

.p-message-error {
    @apply shadow-playful-no-transform border-blushed-brick-200 bg-blushed-brick-50/95 text-blushed-brick-700;
    --shadow-color: theme(colors.blushed-brick.200);
}

.p-message-error .p-message-close-button {
    @apply hover:bg-blushed-brick-100;
}

.p-message-error.p-message-outlined {
    @apply text-red-500;
}

.p-message-error.p-message-simple {
    @apply text-red-500;
}

.p-message-secondary {
    @apply bg-secondary-50 text-secondary-900 border-secondary-200 shadow-playful-no-transform;
    --shadow-color: theme(colors.secondary.200);
}

.p-message-secondary .p-message-close-button {
    @apply hover:bg-surface-200;
}

.p-message-secondary.p-message-outlined {
    @apply text-surface-500;
}

.p-message-secondary.p-message-simple {
    @apply text-surface-500;
}

.p-message-contrast {
    @apply bg-surface-900 text-surface-50 border-surface-700 shadow-playful-no-transform;
    --shadow-color: theme(colors.surface.700);
}

.p-message-contrast .p-message-close-button {
    @apply hover:bg-surface-800;
}

.p-message-contrast.p-message-outlined {
    @apply text-surface-950;
}

.p-message-contrast.p-message-simple {
    @apply text-surface-950;
}

.p-message-text {
    @apply text-base font-medium;
}

.p-message-icon {
    @apply h-[1.125rem] w-[1.125rem] text-lg;
}

.p-message-enter-from {
    @apply opacity-0;
}

.p-message-enter-active {
    @apply transition-opacity duration-300;
}

.p-message.p-message-leave-from {
    @apply max-h-[1000px];
}

.p-message.p-message-leave-to {
    @apply m-0 max-h-0 opacity-0;
}

.p-message-leave-active {
    @apply overflow-hidden [transition:max-height_0.45s_cubic-bezier(0,1,0,1),opacity_0.3s,margin0.3s];
}

.p-message-leave-active .p-message-close-button {
    @apply opacity-0;
}

.p-message-sm .p-message-content {
    @apply px-2.5 py-[0.375rem];
}

.p-message-sm .p-message-text {
    @apply text-sm;
}

.p-message-sm .p-message-icon {
    @apply h-4 w-4 text-sm;
}

.p-message-sm .p-message-close-icon {
    @apply h-3.5 w-3.5 text-sm;
}

.p-message-lg .p-message-content {
    @apply px-3.5 py-2.5;
}

.p-message-lg .p-message-text {
    @apply text-xl;
}

.p-message-lg .p-message-icon {
    @apply h-5 w-5 text-xl;
}

.p-message-lg .p-message-close-icon {
    @apply h-[1.125rem] w-[1.125rem] text-xl;
}

.p-message-outlined {
    @apply bg-transparent;
}

.p-message-simple {
    @apply bg-transparent;
}

.p-message-simple .p-message-content {
    @apply p-0;
}

.p-message-outlined .p-message-close-button:hover,
.p-message-simple .p-message-close-button:hover {
    @apply bg-transparent;
}
