.p-popover {
    /* Base styles */
    @apply bg-surface-0 text-surface-700;
    @apply z-2000 rounded-md shadow-lg;
    @apply mt-[12px];

    &:after,
    &:before {
        @apply hidden;
    }
}

.p-popover-content {
    @apply p-0;
}

.p-popover-flipped {
    @apply -mt-[10px] mb-[10px];
}

.p-popover-enter-from {
    @apply scale-y-75 opacity-0;
}

.p-popover-leave-to {
    @apply opacity-0;
}

.p-popover-enter-active {
    @apply [transition:transform_120ms_cubic-bezier(0,0,0.2,1),opacity_120ms_cubic-bezier(0,0,0.2,1)];
}

.p-popover-leave-active {
    @apply transition-opacity duration-100 ease-linear;
}
