.p-popover {
    /* Base styles */
    @apply bg-surface-0 text-surface-700;
    @apply rounded-md border border-slate-200;
    @apply mt-[10px];

    @apply before:pointer-events-none before:absolute before:bottom-full before:-ms-[6px] before:h-0 before:w-0 before:border-[6px] before:border-transparent before:border-b-slate-200;
    @apply after:border-b-surface-0 after:pointer-events-none after:absolute after:bottom-full after:-ms-[5px] after:h-0 after:w-0 after:border-[5px] after:border-transparent;
}

.p-popover-content {
    @apply p-0;
}

.p-popover-flipped {
    @apply -mt-[10px] mb-[10px];
}

.p-popover-enter-from {
    @apply scale-y-75 opacity-0;
}

.p-popover-leave-to {
    @apply opacity-0;
}

.p-popover-enter-active {
    @apply [transition:transform_120ms_cubic-bezier(0,0,0.2,1),opacity_120ms_cubic-bezier(0,0,0.2,1)];
}

.p-popover-leave-active {
    @apply transition-opacity duration-100 ease-linear;
}

.p-popover-flipped:after,
.p-popover-flipped:before {
    @apply top-full bottom-auto;
}

.p-popover.p-popover-flipped:after {
    @apply border-t-surface-0 border-b-transparent;
}

.p-popover.p-popover-flipped:before {
    @apply border-t-surface-200 border-b-transparent;
}

.p-popover:after,
.p-popover:before {
    left: calc(1.25rem + var(--p-popover-arrow-left));
}
