@import './button';
@import './inputtext';
@import './iconfield';

.p-select {
    @apply relative inline-flex w-full py-1;
    @apply bg-surface-0 cursor-pointer rounded-md transition-colors duration-200 select-none;
    @apply border-1 border-slate-200;
}

.p-select.p-variant-filled {
    @apply bg-surface-50;
}

.p-select.p-invalid {
    @apply border-red-400;
}

.p-select.p-disabled {
    @apply bg-surface-200 text-surface-500 cursor-default opacity-100;
}

.p-select-clear-icon {
    @apply text-surface-500 absolute end-10 top-1/2 -mt-2;
}

.p-select-dropdown {
    @apply text-surface-500 flex w-10 shrink-0 items-center justify-center rounded-e-md bg-transparent;
}

.p-select-label {
    @apply text-surface-700 block w-[1%] flex-auto overflow-hidden border-none bg-transparent py-1 ps-3 overflow-ellipsis whitespace-nowrap outline-none;
}

.p-select-label.p-placeholder {
    @apply text-surface-500;
}

.p-select:has(.p-select-clear-icon) .p-select-label {
    @apply pe-7;
}

.p-select.p-disabled .p-select-label {
    @apply text-surface-500;
}

.p-select-label-empty {
    @apply overflow-hidden opacity-0;
}

input.p-select-label {
    @apply cursor-default;
}

.p-select .p-select-overlay {
    @apply min-w-full;
}

.p-select-overlay {
    @apply bg-surface-0 text-surface-700 absolute top-0 left-0 !z-[1104] mt-2 rounded-md shadow-lg;
}

.p-select-header {
    @apply px-4 pt-2 pb-1;
}

.p-select-filter {
    @apply w-full;
}

.p-select-list-container {
    @apply overflow-auto;
}

.p-select-option-group {
    @apply text-surface-500 m-0 bg-transparent px-3 py-2 font-semibold;
}

.p-select-list {
    @apply m-0 flex list-none flex-col py-1;
}

.p-select-option {
    @apply text-surface-700 relative flex cursor-pointer items-center gap-2 overflow-hidden rounded-sm border-none bg-transparent px-3 py-2 font-normal whitespace-nowrap transition-colors duration-200;
}

.p-select-option:not(.p-select-option-selected):not(.p-disabled).p-focus {
    @apply bg-slate-100 text-slate-800;
}

.p-select-option.p-select-option-selected {
    @apply bg-slate-50;
}

.p-select-option.p-select-option-selected.p-focus {
    @apply bg-slate-100;
}

.p-select-option-check-icon {
    @apply text-surface-700 relative -ms-[0.375rem] me-[0.375rem];
}

.p-select-empty-message {
    @apply px-3 py-2;
}

.p-select-fluid {
    @apply flex;
}

.p-select-sm .p-select-label {
    @apply px-[0.625rem] py-[0.375rem];
}

.p-select-sm .p-select-dropdown .p-icon {
    @apply h-[0.875rem] w-[0.875rem];
}

.p-select-lg .p-select-label {
    @apply px-[0.875rem] py-[0.625rem] text-lg;
}

.p-select-lg .p-select-dropdown .p-icon {
    @apply h-[1.125rem] w-[1.125rem] text-lg;
}
