.p-tabs {
    @apply flex flex-col;
    @apply w-fit rounded-lg bg-white shadow-md outline-0;
}

.p-tablist {
    @apply relative flex;
}

.p-tabs-scrollable > .p-tablist {
    @apply overflow-hidden;
}

.p-tablist-viewport {
    @apply overflow-x-auto overflow-y-visible;
    @apply overscroll-x-auto overscroll-y-contain;
    @apply border-0 outline-0;
    @apply [scrollbar-behavior:smooth] [scrollbar-width:none];
}

.p-tablist-viewport::-webkit-scrollbar {
    @apply hidden;
}

.p-tablist-tab-list {
    @apply relative flex overflow-visible;
    @apply rounded-xl;
    @apply border-0 outline-0;
}

.p-tablist-content {
    @apply flex-grow;
}

.p-tablist-prev-button {
    @apply start-0;
}

.p-tablist-next-button {
    @apply end-0;
}

.p-tablist-prev-button:dir(rtl),
.p-tablist-next-button:dir(rtl) {
    @apply rotate-180;
}

.p-tab {
    @apply relative z-10 flex flex-shrink-0 cursor-pointer items-center gap-2 select-none;
    @apply rounded-lg border-0 bg-transparent;
    @apply px-4 py-2;
    @apply text-sm font-semibold whitespace-nowrap;
    @apply text-slate-600;
    @apply transition-all duration-200;
}

.p-tab:not(.p-disabled):focus-visible {
    @apply outline-primary-500 z-20 outline-2 outline-offset-2;
}

.p-tab:not(.p-tab-active):not(.p-disabled):hover {
    @apply text-slate-800;
}

.p-tab-active {
    @apply text-primary-600;
}

.p-tab.p-disabled {
    @apply cursor-not-allowed opacity-50;
}

.p-tabpanels {
    @apply outline-none;
}

.p-tablist-active-bar {
    @apply absolute top-0 bottom-0 z-1;
    @apply bg-primary-100 rounded-lg;
    @apply transition-[left,width] duration-200 ease-out;
}
