.p-textarea {
    @apply appearance-none rounded-md border-1 outline-none;

    @apply bg-surface-0 dark:bg-surface-950;
    @apply text-surface-700 dark:text-surface-0;
    @apply placeholder:text-surface-500 dark:placeholder:text-surface-400;

    @apply shadow-playful-no-transform border-slate-200;
    --shadow-color: var(--color-slate-200);

    @apply disabled:bg-surface-200 disabled:text-surface-500;
    @apply dark:disabled:bg-surface-700 dark:disabled:text-surface-400;
    @apply disabled:opacity-100;

    @apply px-3 py-2;
    @apply transition-colors duration-200;

    @apply autofill:bg-white;
}

.p-textarea.p-invalid {
    @apply border-red-400 dark:border-red-300;
}

.p-textarea.p-variant-filled {
    @apply bg-surface-50 dark:bg-surface-800;
}

.p-textarea-fluid {
    @apply w-full;
}

.p-textarea-resizable {
    @apply resize-none overflow-hidden;
}

.p-textarea-sm {
    @apply px-[0.625rem] py-[0.375rem] text-sm;
}

.p-textarea-lg {
    @apply px-[0.875rem] py-[0.625rem] text-lg;
}
