.p-togglebutton {
    @apply relative inline-flex cursor-pointer items-center justify-center overflow-hidden;
    @apply rounded-md border-1 outline-none;

    @apply bg-surface-0;
    @apply text-surface-700;
    @apply border-slate-300;

    @apply enabled:hover:border-slate-200;
    @apply enabled:focus:border-primary;
    @apply focus-visible:outline-primary focus-visible:outline-1 focus-visible:outline-offset-2;

    @apply disabled:bg-surface-200 disabled:border-surface-200 disabled:text-surface-500;
    @apply disabled:cursor-default disabled:opacity-100;

    @apply px-4 py-2 text-base font-medium;
    @apply transition-colors duration-300 select-none;

    /* Internal styling for button effect */
    @apply before:absolute before:start-1 before:top-1;
    @apply before:h-[calc(100%-0.5rem)] before:w-[calc(100%-0.5rem)];
    @apply before:rounded-md before:bg-transparent;
    @apply before:transition-colors before:duration-200;
}

.p-togglebutton-content {
    @apply relative inline-flex items-center justify-center gap-2;
}

.p-togglebutton-label,
.p-togglebutton-icon {
    @apply relative transition-none;
}

.p-togglebutton.p-togglebutton-checked::before {
    @apply bg-surface-50;
    @apply shadow-[0px_1px_2px_0px_rgba(0,0,0,0.02),0px_1px_2px_0px_rgba(0,0,0,0.04)];
}

.p-togglebutton:not(:disabled):not(.p-togglebutton-checked):hover {
    @apply bg-surface-50;
    @apply text-surface-900;
}

.p-togglebutton.p-togglebutton-checked {
    @apply bg-surface-50;
    @apply border-slate-200;
    @apply text-surface-900;
}

.p-togglebutton.p-invalid {
    @apply border-red-400;
}

.p-togglebutton-icon {
    @apply text-surface-500;
}

.p-togglebutton:not(:disabled):not(.p-togglebutton-checked):hover .p-togglebutton-icon {
    @apply text-surface-700;
}

.p-togglebutton.p-togglebutton-checked .p-togglebutton-icon {
    @apply text-surface-900;
}

.p-togglebutton:disabled .p-togglebutton-icon {
    @apply text-surface-500;
}

.p-togglebutton-sm {
    @apply px-[0.75rem] py-[0.375rem] text-sm;
}

.p-togglebutton-lg {
    @apply px-[1.25rem] py-[0.625rem] text-lg;
}
