.p-tooltip {
    @apply absolute hidden;
}

.p-tooltip-left {
    @apply -ms-1;
}

.p-tooltip-top {
    @apply -mt-1;
}

.p-tooltip-right,
.p-tooltip-left {
    @apply px-1 py-0;
}

.p-tooltip-top,
.p-tooltip-bottom {
    @apply px-0 py-1;
}

.p-tooltip-text {
    @apply text-surface-0 rounded-md bg-slate-900 p-3 text-sm break-words whitespace-pre-line;
}

.p-tooltip-arrow {
    @apply absolute h-0 w-0 border-solid border-transparent;
}

.p-tooltip-right .p-tooltip-arrow {
    @apply -mt-1 border-[.25rem] border-s-0 border-e-slate-900 rtl:rotate-180;
}

.p-tooltip-left .p-tooltip-arrow {
    @apply -mt-1 border-[.25rem] border-e-0 border-s-slate-900 rtl:rotate-180;
}

.p-tooltip-top .p-tooltip-arrow {
    @apply -ms-1 border-[.25rem] border-b-0 border-t-slate-900;
}

.p-tooltip-bottom .p-tooltip-arrow {
    @apply -ms-1 border-[.25rem] border-t-0 border-b-slate-900;
}
