/* Style overrides for Editor.js */

/* Editor container styles */
.codex-editor {
    @apply shadow-playful-no-transform rounded-md border border-slate-200 px-6 py-3;
    --shadow-color: var(--color-slate-200);
}

.codex-editor__redactor {
    @apply !pb-0;
}

.cdx-block {
    @apply !mb-0;
}

.ce-block {
    @apply break-after-all overflow-x-auto text-wrap;
}

.ce-block__content {
    @apply max-w-full;
}

.ce-toolbar {
    @apply right-0 left-auto;
}

.ce-toolbar__content {
    @apply right-0 max-w-full;
}

/* Block styles */

.ce-paragraph,
.cdx-list {
    @apply mb-2 text-slate-800;

    a {
        @apply inline-flex items-center px-1 py-0.5;
        @apply rounded-t-sm font-semibold no-underline;
        @apply border-secondary-700 text-secondary-700 border-b;
        @apply bg-[length:1px_0] bg-bottom bg-repeat-x;
        @apply transition-[background-size] duration-200;

        background-image: linear-gradient(
            to bottom,
            var(--color-secondary-50) 0%,
            var(--color-secondary-50) 100%
        );

        &:hover {
            @apply bg-[length:1px_100%];
        }
    }
}

.cdx-list {
    @apply !ps-8;

    .cdx-list__item {
        @apply m-0;
    }
}

ul.cdx-list {
    @apply list-disc;
}

ol.cdx-list {
    @apply list-decimal;
}
