@plugin 'tailwindcss-primeui';

@import 'tailwindcss';

@import './primevue/tailwind.css' layer(components);
@import './maps.css';
@import './transitions.css';
@import './utilities.css';
@import './fonts.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --text-base: 14px;

    --font-family-sans: 'Lexend', ui-sans-serif, system-ui, sans-serif;
    --font-family-lexend: 'Lexend', ui-sans-serif, system-ui, sans-serif;

    --color-timber-green-50: #f0f9f5;
    --color-timber-green-100: #dbf0e5;
    --color-timber-green-200: #b9e1ce;
    --color-timber-green-300: #8bcab0;
    --color-timber-green-400: #5aad8e;
    --color-timber-green-500: #399071;
    --color-timber-green-600: #28735b;
    --color-timber-green-700: #205c4a;
    --color-timber-green-800: #1b4a3c;
    --color-timber-green-900: #14342b;
    --color-timber-green-950: #0c221d;

    --color-glacier: oklch(49.933% 0.11024 250.04);
    --color-glacier-50: oklch(96.247% 0.02001 200.64);
    --color-glacier-100: oklch(92.597% 0.03582 205.23);
    --color-glacier-200: oklch(84.361% 0.06317 214.03);
    --color-glacier-300: oklch(74.762% 0.08826 226.04);
    --color-glacier-400: oklch(63.754% 0.11758 239.66);
    --color-glacier-500: oklch(49.933% 0.11024 250.04);
    --color-glacier-600: oklch(41.436% 0.10419 257.32);
    --color-glacier-700: oklch(33.231% 0.09464 263.24);
    --color-glacier-800: oklch(25.996% 0.07965 268.39);
    --color-glacier-900: oklch(19.004% 0.05983 273.58);

    --color-primary: var(--color-timber-green-500);
    --color-primary-50: var(--color-timber-green-50);
    --color-primary-100: var(--color-timber-green-100);
    --color-primary-200: var(--color-timber-green-200);
    --color-primary-300: var(--color-timber-green-300);
    --color-primary-400: var(--color-timber-green-400);
    --color-primary-500: var(--color-timber-green-500);
    --color-primary-600: var(--color-timber-green-600);
    --color-primary-700: var(--color-timber-green-700);
    --color-primary-800: var(--color-timber-green-800);
    --color-primary-900: var(--color-timber-green-900);
    --color-primary-950: var(--color-timber-green-950);

    --color-secondary: var(--color-glacier-500);
    --color-secondary-50: var(--color-glacier-50);
    --color-secondary-100: var(--color-glacier-100);
    --color-secondary-200: var(--color-glacier-200);
    --color-secondary-300: var(--color-glacier-300);
    --color-secondary-400: var(--color-glacier-400);
    --color-secondary-500: var(--color-glacier-500);
    --color-secondary-600: var(--color-glacier-600);
    --color-secondary-700: var(--color-glacier-700);
    --color-secondary-800: var(--color-glacier-800);
    --color-secondary-900: var(--color-glacier-900);
    --color-secondary-950: var(--color-glacier-950);

    --shadow-sm: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    --shadow-default: 0 4px 12px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 6px 20px rgba(0, 0, 0, 0.12);
    --shadow-lg: 0 8px 30px rgba(0, 0, 0, 0.15);
    --shadow-xl: 0 10px 40px rgba(0, 0, 0, 0.18);
    --shadow-2xl: 0 12px 60px rgba(0, 0, 0, 0.2);
}

body {
    @apply bg-slate-900 text-base text-slate-800;
    font-family: var(--font-family-sans);
    font-weight: 450;

    #app {
        @apply flex h-full min-h-[100vh];
    }

    &.dark {
        @apply bg-surface-900 text-surface-0;
    }
}

/* Primary and Surface Palettes */
:root {
    --p-primary-50: var(--color-timber-green-50);
    --p-primary-100: var(--color-timber-green-100);
    --p-primary-200: var(--color-timber-green-200);
    --p-primary-300: var(--color-timber-green-300);
    --p-primary-400: var(--color-timber-green-400);
    --p-primary-500: var(--color-timber-green-500);
    --p-primary-600: var(--color-timber-green-600);
    --p-primary-700: var(--color-timber-green-700);
    --p-primary-800: var(--color-timber-green-800);
    --p-primary-900: var(--color-timber-green-900);
    --p-primary-950: var(--color-timber-green-950);
    --p-surface-0: #ffffff;
    --p-surface-50: #fafafa;
    --p-surface-100: #f4f4f5;
    --p-surface-200: #e4e4e7;
    --p-surface-300: #d4d4d8;
    --p-surface-400: #a1a1aa;
    --p-surface-500: #71717a;
    --p-surface-600: #52525b;
    --p-surface-700: #3f3f46;
    --p-surface-800: #27272a;
    --p-surface-900: #18181b;
    --p-surface-950: #09090b;
    --p-content-border-radius: 6px;
}

/* Light Mode */
:root {
    --p-primary-color: var(--p-primary-500);
    --p-primary-contrast-color: var(--p-surface-0);
    --p-primary-hover-color: var(--p-primary-600);
    --p-primary-active-color: var(--p-primary-700);
    --p-content-border-color: var(--p-surface-200);
    --p-content-hover-background: var(--p-surface-100);
    --p-content-hover-color: var(--p-surface-800);
    --p-highlight-background: var(--p-primary-100);
    --p-highlight-color: var(--p-primary-700);
    --p-highlight-focus-background: var(--p-primary-100);
    --p-highlight-focus-color: var(--p-primary-800);
    --p-text-color: var(--p-surface-700);
    --p-text-hover-color: var(--p-surface-800);
    --p-text-muted-color: var(--p-surface-500);
    --p-text-hover-muted-color: var(--p-surface-600);
}

/*  Dark Mode */
:root[class='dark'] {
    --p-primary-color: var(--p-primary-400);
    --p-primary-contrast-color: var(--p-surface-0);
    --p-primary-hover-color: var(--p-primary-300);
    --p-primary-active-color: var(--p-primary-200);
    --p-content-border-color: var(--p-surface-700);
    --p-content-hover-background: var(--p-surface-800);
    --p-content-hover-color: var(--p-surface-0);
    --p-highlight-background: color-mix(in srgb, var(--p-primary-400), transparent 84%);
    --p-highlight-color: rgba(255, 255, 255, 0.87);
    --p-highlight-focus-background: color-mix(in srgb, var(--p-primary-400), transparent 76%);
    --p-highlight-focus-color: rgba(255, 255, 255, 0.87);
    --p-text-color: var(--p-surface-0);
    --p-text-hover-color: var(--p-surface-0);
    --p-text-muted-color: var(--p-surface-400);
    --p-text-hover-muted-color: var(--p-surface-300);
}
