name: Build and release new production images

permissions:
  packages: write
  contents: read

on:
  push:
    branches: ["main"]
    paths-ignore:
      - ".github/**"
      - ".vscode/**"
      - ".editorconfig"
      - ".env.example"
      - ".gitignore"
      - "LICENSE"
      - "README.md"

  workflow_dispatch:

concurrency:
  group: deploy-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    uses: ./.github/workflows/ci.yaml

  build-prod:
    runs-on: self-hosted
    needs: ci
    steps:
      - name: Load docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/blokmap/blokmap-prod-frontend
          tags: |
            type=raw,value={{sha}}
            type=raw,value=latest

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          file: Dockerfile.prod
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=registry,ref=ghcr.io/blokmap/blokmap-prod-frontend:buildcache
          cache-to: type=registry,ref=ghcr.io/blokmap/blokmap-prod-frontend:buildcache,mode=max
