name: Lint, format, and test code

on:
    push:
        branches-ignore: ['main', 'staging']
        tags-ignore: ['**']

    workflow_call:

jobs:
    lint-format:
        runs-on: self-hosted

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup
              uses: ./.github/actions/common

            - name: Lint code
              run: npm run lint

            - name: Format code
              run: npm run format

    unit-tests:
        runs-on: self-hosted

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup
              uses: ./.github/actions/common

            - name: Run unit tests
              run: npm run test:unit -- --no-cache
